<p-blockUI [blocked]="boolLoading">
  <i class="pi pi-spin pi-spinner-dotted" style="font-size: 3rem"></i>
</p-blockUI>
<p-toast></p-toast>

<!-- IMAGEM DE PROPAGANDA -->
<div>
  <div class="flex justify-content-center mt-3">
    <p-image
        src="assets/img/Baalbek/Logo_Infancia_Azul.png"
        alt="Convite"
        [preview]="true"
        [imageStyle]="{ width: '100%', height: 'auto', 'max-width': '100px' }">
    </p-image>
  </div>
  <div  class="text-center justify-content-center mb-1 mt-3">
    <p-button (onClick)="boolDialogPropaganda = true;" size="small" label="Colabore com o evento do Instituto Infância Azul" [raised]="true" severity="info" />
  </div>
</div>

<div *ngIf="!boolDialogMensagem" #dynamicContainer>
  <div [innerHTML]="htmlContent" (click)="onContainerClick($event)"></div>
</div>

<p-dialog [header]="mensagem.titulo" [modal]="true" [(visible)]="boolDialogMensagem" [style]="{ width: '25rem' }">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
        <!-- <i class="pi {{mensagem.icone}}" style="font-size: 2.5rem" style="color: {{mensagem.corIcone}}"></i>&nbsp; -->
         <i class="pi {{mensagem.icone}}" [ngStyle]="{ 'font-size': '2.5rem', color: mensagem.corIcone }"></i>&nbsp;
        <span class="font-bold white-space-nowrap">
            {{mensagem.titulo}}
        </span>
    </div>
</ng-template>
  <div class="flex align-items-center gap-3 mb-3">
      <span class="text-center">{{mensagem.corpoMensagem}}</span>
  </div>
  <!-- <div class="flex justify-content-center gap-2 mt-4">
      <p-button label="Fechar" (onClick)="FechaDialog();" />
  </div> -->
</p-dialog>


<!-- POPUP DA PROPAGANDA  -->
<p-dialog
    [(visible)]="boolDialogPropaganda"
    [modal]="true"
    [style]="{ width: '70vw' }"
    [breakpoints]="{ '960px': '60vw', '640px': '90vw' }"
>

  <ng-template pTemplate="header">
    <div class="flex justify-content-center w-full">
      <span class="text-center"><b>6º Evento Beneficente <br> Feijoada do Instituto Infância Azul</b></span>
    </div>
  </ng-template>

  <div class="flex justify-content-center mb-3">
    <p-image
        src="assets/img/Baalbek/Convite_Feijoada_IA_2026.png"
        alt="Convite"
        [preview]="true"
        [imageStyle]="{ width: '100%', height: 'auto', 'max-width': '700px' }">
    </p-image>
  </div>

  <div class="text-center justify-content-center gap-2 mt-4">
    <p-button
      label="Comprar via Pix ou Cartão"
      [raised]="true"
      severity="success"
      (onClick)="abrirLink('COMPRA')">
    </p-button>

    <br><br>

    <p-button
      label="Mais informações sobre o evento"
      [raised]="true"
      severity="success"
      (onClick)="abrirLink('INFO')">
    </p-button>

    <br><br>

    <p-button label="Fechar" (onClick)="boolDialogPropaganda = false" [raised]="true" severity="danger" size="small"></p-button>
  </div>

</p-dialog>
