<p-blockUI [blocked]="boolLoading">
  <i class="pi pi-spin pi-spinner-dotted" style="font-size: 3rem"></i>
</p-blockUI>
<p-toast />

<h2>Cadastro de Permissão</h2>

<div class="container">
  <div *ngIf="!boolManterRegistro">
    <div class="text-right mb-3">
      <p-button (click)="NovaPermissao();" label="Nova Permissão" [raised]="true" severity="primary" /> &nbsp;
    </div>

    <p-table
      #dt
      [value]="lstPermissao"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-sm p-datatable-striped"
      responsiveLayout="stack"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
      [globalFilterFields]="['SesNume', 'SesDesc', 'TiSNome', 'GraNome']"
      >
      <ng-template pTemplate="caption">
        <div class="flex">
            <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                    pInputText
                    type="text"
                    (input)="onGlobalFilter(dt, $event)"
                    placeholder="Pesquisa" />
            </p-iconField>
        </div>
      </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center;">Permissao</th>
                <th style="text-align: center;">Status</th>
                <th style="text-align: center;">Opções</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td style="text-align: center;">{{ item.PemNome }}</td>
                <td style="text-align: center;">{{ item.PemStat ? 'Ativa' : 'Inativa' }}</td>
                <td style="text-align: center;">
                  <!-- <p-button (click)="GetSessaoBySesCodi(item.SesCodi);" *ngIf="item.SesLibe && item.SesStat" icon="pi pi-envelope" [rounded]="true" [text]="true" severity="warning" pTooltip="Convite da Sessão" tooltipPosition="left"/>
                  <p-button (click)="MarcarPresencas(item.SesCodi);" *ngIf="item.SesLibe && item.SesStat" icon="pi pi-check-square" [rounded]="true" [text]="true" severity="success" pTooltip="Marcar Presenças" tooltipPosition="left"/>
                  <p-button (click)="LiberaTravaSessao(item.SesCodi, item);" icon="pi {{item.SesLibe ? 'pi-ban' : 'pi-thumbs-up'}}" [rounded]="true" [text]="true" [severity]="item.SesLibe ? 'danger' : 'success'" pTooltip="{{item.SesLibe ? 'Travar Sessão' : 'Liberar Sessão'}}" tooltipPosition="left"/> -->
                  <p-button (click)="EditarRegistro(item);" icon="pi pi-pen-to-square" [rounded]="true" [text]="true" severity="info" pTooltip="Editar" tooltipPosition="left"/>
                  <p-button (click)="AtivaInativa(item.PemCodi, item);" icon="pi {{item.PemStat ? 'pi-lock-open' : 'pi-lock'}}" [rounded]="true" [text]="true" [severity]="item.PemStat ? 'danger' : 'success'" pTooltip="{{item.PemStat ? 'Inativar Permissao' : 'Ativar Permissao' }}" tooltipPosition="left"/>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="3" style="text-align: center;"><b>SEM RESULTADOS.</b></td>
          </tr>
      </ng-template>
    </p-table>
  </div>
</div>
