<p-blockUI [blocked]="boolLoading">
  <i class="pi pi-spin pi-spinner-dotted" style="font-size: 3rem"></i>
</p-blockUI>
<p-toast />

<h2>Cadastro de Loja</h2>

<!-- <div class="text-center mt-6">
  <h1>EM FASE DE DESENVOLVIMENTO</h1>
</div> -->

<!-- GRID DE EXIBIÇÃO DOS REGISTROS -->
<div *ngIf="this.lstLoja.length > 0 && this.objPerfilUsuario.perCodi === 1">
  <div class="text-right mb-3">
    <p-button (click)="NovoRegistro();" label="Nova Loja" [raised]="true" severity="primary" /> &nbsp;
  </div>

  <!-- TABELA DE EXIBIÇÃO DOS IRMÃOS -->
  <p-table
    #dt
    [value]="lstLoja"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-sm p-datatable-striped"
    responsiveLayout="stack"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50, 100]"
    [globalFilterFields]="['LojNome', 'LojNumL']"
    >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
              <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
              pInputText
              type="text"
              (input)="onGlobalFilter(dt, $event)"
              placeholder="Pesquisa" />
        </p-iconField>
      </div>
    </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="text-align: center;">Nome</th>
          <th style="text-align: center;">Número</th>
          <th style="text-align: center;">Potência</th>
          <th style="text-align: center;">Rito</th>
          <th style="text-align: center;">Status</th>
          <th style="text-align: center;">Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td style="text-align: center;">{{ item.LojNome }}</td>
          <td style="text-align: center;">{{ item.LojNumL }}</td>
          <!-- <td style="text-align: center;">{{ utils.formataTelefone(item.UsuNCel) }}</td> -->
          <td style="text-align: center;">{{ item.PotCodi }}</td>
          <td style="text-align: center;">{{ item.RitCodi }}</td>
          <td style="text-align: center;">{{ item.LojStat ? "Ativa" : "Inativa" }}</td>
          <td style="text-align: center;">
            <p-button (click)="EditarRegistro(item.UsuNCIM);" icon="pi pi-pen-to-square" [rounded]="true" [text]="true" severity="info" pTooltip="Editar" tooltipPosition="left"/>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="9" style="text-align: center;"><b>SEM RESULTADOS.</b></td>
        </tr>
    </ng-template>
  </p-table>
</div>

<!-- FORMULÁRIO DE REGISTRO -->
<div *ngIf="lstLoja.length === 1" class="container">
  <div class="formgrid grid">
    <!-- <div class="field col-12 md:col-2 p-fluid"> -->
      <!-- <label for="UsuNCIM">Nº CIM</label><br> -->
      <!-- <input (blur)="ConsultaUsuarioExistente(objUsuarioRegistro.UsuNCIM);" id="UsuNCIM" type="text" pInputText [(ngModel)]="objUsuarioRegistro.UsuNCIM" style="text-align: center;"/> -->
    <!-- </div> -->
    <div class="field col-12 md:col-4 p-fluid">
      <label for="lojNome">Nome da Loja</label><br>
      <input id="lojNome" type="text" pInputText [(ngModel)]="objLoja.LojNome" />
    </div>
    <div class="field col-12 md:col-2 p-fluid">
      <label for="LojNumL">Nº da Loja</label><br>
      <input id="LojNumL" type="text" pInputText [(ngModel)]="objLoja.LojNumL" />
    </div>
    <div class="flex flex-column flex-grow-1 col-12 md:col-3">
      <label class="mb-2" for="PotCodi"><b>Potência</b></label>
      <p-dropdown
        placeholder="Selecione"
        id="PotCodi"
        [options]="lstPotencia"
        optionLabel="PotSigl"
        [(ngModel)]="objPotencia"
        [style]="{ width: '100%' }"
        [showClear]="true"
        [filter]="true"
        filterBy="PotSigl, PotNome" 
      ></p-dropdown>
    </div>
    <div class="flex flex-column flex-grow-1 col-12 md:col-3">
      <label class="mb-2" for="PotCodi"><b>Rito</b></label>
      <p-dropdown
        placeholder="Selecione"
        id="RitCodi"
        [options]="lstRito"
        optionLabel="RitNome"
        [(ngModel)]="objRito"
        [style]="{ width: '100%' }"
        [showClear]="true"
        [filter]="true"
        filterBy="RitNome" 
      ></p-dropdown>
    </div>
    <div class="field col-12 md:col-5 p-fluid">
      <label for="LojLogr">Endereço</label>
      <input id="LojLogr" type="text" pInputText [(ngModel)]="objLoja.LojLogr" />
      <!-- <p-inputMask id="UsuNCel" mask="(99) 99999-9999" [(ngModel)]="objUsuarioRegistro.UsuNCel" placeholder="(00) 00000-0000"></p-inputMask> -->
    </div>
    <div class="field col-12 md:col-2 p-fluid">
      <label for="LojNume">Número</label>
      <input id="LojNume" type="text" pInputText [(ngModel)]="objLoja.LojNume" />
    </div>
    <div class="field col-12 md:col-5 p-fluid">
      <label for="LojBair">Bairro</label>
      <input id="LojBair" type="text" pInputText [(ngModel)]="objLoja.LojBair" />
    </div>
    <div class="flex flex-column flex-grow-1 col-8 md:col-3">
      <label class="mb-2" for="EstCodi"><b>Estado</b></label>
      <p-dropdown
        placeholder="Selecione"
        id="EstCodi"
        [options]="lstEstado"
        optionLabel="EstNome"
        [(ngModel)]="objEstado"
        [style]="{ width: '100%' }"
        [showClear]="true"
        [filter]="true"
        filterBy="EstNome, EstSigl"
      ></p-dropdown>
    <!-- </div>
    <div class="flex flex-column flex-grow-1 col-12 md:col-3 mt-2"> -->
      <label class="mb-2 mt-2" for="CidCodi"><b>Cidade</b></label>
      <p-dropdown
        placeholder="Selecione"
        id="CidCodi"
        [options]="lstCidade"
        optionLabel="CidNome"
        [(ngModel)]="objCidade"
        [style]="{ width: '100%' }"
        [showClear]="true"
        [filter]="true"
        filterBy="CidNome" 
      ></p-dropdown>
    </div>
    <div class="text-center flex flex-column flex-grow-1 col-4 md:col-3 mt-2">
      <label class="mb-2" for="CidCodi"><b>Imagem</b></label>
        <p-image
          [src]="imagemBase64 ? imagemBase64 : 'assets/img/noImage.png'"
          alt="Preview"
          width="128">
        </p-image>
        <input
            #fileInput
            type="file"
            accept="image/*"
            hidden
            (change)="onFileSelected($event)" />
        <p-button label="Alterar Imagem" (click)="fileInput.click()" size="small" [raised]="true" severity="info"/>
    </div>
  </div>
  
  <hr>

  <div class="flex flex-column flex-grow-1 col-12">
    <label class="mb-2" for="orientacaoLoja"><b>Orientações da Loja</b></label>
    <p-editor [(ngModel)]="orientacaoLoja" [style]="{ height: '320px' }" />
  </div>

  <hr>

  <div class="text-right">
    <p-button (click)="SalvarRegistro();" label="Salvar" [raised]="true" severity="success" /> &nbsp;
    <p-button (click)="CancelaRegitro();" label="Cancelar" [raised]="true" severity="danger" />
  </div>
</div>